

.dashboard-panel * {
     pointer-events: none;
}
.dashboard-link{
    height: 100%;
}
.dashboard-panel{
    border-radius: 3px;
    padding: 30px 20px;
    transition: 0.3s all;
    cursor: pointer;
    opacity: 0.8;
    z-index: 100000;
    height: 100%;
}
.dashboard-panel:hover{
    transform: scale(1.05);
}
.dashboard-panel .title{
    color: white;
    font-size: 14px;
    font-weight: 700;
}
.panel-number{
    color: white;
    font-size: 28px;
    font-weight: 300;
    padding-left: 20px;
    border-left: 2px solid white;
}
.panel-section{
    display: flex;
}
.dashboard-link{
    margin-bottom: 20px;
}
.panel-icon-section{
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    border: 1px solid white;
    border-radius: 100%;
    font-size: 18px;
    margin-top: -20px;
}
.panel-orange{
    background: #fdc0a3; /* Old browsers */
    background: -moz-linear-gradient(top, #F9A18C 0%, #E8856D 50%, #FF7E5E 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #F9A18C 0%,#E8856D 50%,#FF7E5E 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #F9A18C 0%,#E8856D 50%,#FF7E5E 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.panel-dark{
    background: #fdc0a3; /* Old browsers */
    background: -moz-linear-gradient(top, #757575 0%, #5C5C5C 50%, #494949 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #757575 0%,#5C5C5C 50%,#494949 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #757575 0%,#5C5C5C 50%,#494949 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.panel-red{
    background: #fdc0a3; /* Old browsers */
    background: -moz-linear-gradient(top, #fdc0a3 0%, #f9a4c5 50%, #f899d1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fdc0a3 0%,#f9a4c5 50%,#f899d1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fdc0a3 0%,#f9a4c5 50%,#f899d1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.panel-purple{
    background: #cec2ec; /* Old browsers */
    background: -moz-linear-gradient(top, #cec2ec 0%, #a081f6 51%, #A686F8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cec2ec 0%,#a081f6 51%,#A686F8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cec2ec 0%,#a081f6 51%,#A686F8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.panel-blue{
    background: #38d3ff; /* Old browsers */
    background: -moz-linear-gradient(top, #38d3ff 0%, #44A2F3 50%, #6A77FF 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #38d3ff 0%,#44A2F3 50%,#6A77FF 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #38d3ff 0%,#44A2F3 50%,#6A77FF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.panel-green{
    background: #47e0b2; /* Old browsers */
background: -moz-linear-gradient(top, #47e0b2 0%, #00b58a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #47e0b2 0%,#00b58a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #47e0b2 0%,#00b58a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.panel-section .col-sm-6{
    margin-bottom: 20px;
}
.clean-panel i{
    font-size: 40px;
    line-height: 60px;
    text-align: right;
}
.clean-panel .title{
    font-size: 20px;
    color:#424242;
    font-weight: 300;
    padding:0;
    margin:0;
}
.clean-panel .subtitle{
    font-size: 14px;
    color:gray;
}
.clean-panel{
    background: white;
    border-radius: 5px;
    box-shadow:0px 0px 5px #EBEBEB;
    position: relative;
    padding:50px 20px;
}
.clean-panel label{
    color:gray;
}

@media screen and (max-width: 575px) {
    .clean-panel{
        padding:50px 40px !important;
    }
}
