label {
    font-family: Tahoma, Geneva, sans-serif;
}
.title{
	display:block;
	font-size:30px;
	font-weight:500;
	color:#FFF5F0;
	text-align:center;
}
.subtitle{
	display:block;
	font-size:14px;
	font-weight:300;
	text-align:center;
	color :#FFE8DE;
	padding-top:5px;
}
.object{
	width:50px;
	height:50px;
	background:white;
	margin-top:50px;
    border:none;
}
.object-container{
    width: 50px;
    margin:auto;
}
section{
    width: 25%;
    height: 250px;
    position: relative;
    float:left;
    padding:0;
    padding-top: 25px;
    overflow: hidden;
}
body .section:nth-child(1){
    background:#F8B195;
}
body .section:nth-child(2n){
    background:#F67280;
}
body .section:nth-child(3n){
    background:#C06C84;
}
body .section:nth-child(3n+1){
    background:#6C5B7B;
}
body .section:nth-child(5n+1){
    background:#355C7D;
}

body{
	background:#F8B195;
    margin: 0;
}
