.tab-content{
    padding-top: 40px;
}
.widget-section{
    margin-bottom: 40px;
}
.widget-section .title{
    font-size: 18px;
    display: block;
    width: 100%;
    padding-left: 15px;
    margin-bottom: 20px;
    color:#363636;
}


.list-section{
    margin-top: 50px;   
    background: white;
    border-radius: 5px;
    box-shadow:0px 0px 5px #f1f1f1;
    position: relative;
    padding: 20px;
}

.fill-box {
      height: 150px;
      margin-top: 30px !important;
      margin: 10px;
      padding: 10px;
      border-radius: 10px; 
      background: white;
    border: 2px solid black;
    }

.bgcolor {
  background: #F1F2F7;
}
.align-center {
  text-align: center !important;
}