.jumbotron{
    width: 100%;
display: block;
}
.export-modal{
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
}
.export-btn{
    margin-right: 5px;
}
.table-container{
    margin-bottom: 50px;
}
.export-modal p{
    font-size: 13px;
    padding: 0;
    margin-bottom: 5px;
    margin-top: 20px;
}
thead{
    background: rgba(255,255,255,1);
}
tr{
    cursor: pointer;
    height: 40px;
}
.search-section{
    margin-top: 20px;
    margin-bottom: 40px;
}
.search-section select {
    display: inline;
    width: 30%;
}
.inline{
    display: inline-block;
}
.attachment-img-section{
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding:10px;
    display: inline-block;
    width: 100%;
}
.image-item{
    width: 33.33%;
    position: relative;
    float: left;
    text-align: center;
    margin-bottom: 20px;
}
.attachment-img-section img{
    width: auto;
    display: block;
    max-height: 150px;
    padding:10px;
    margin: auto;

}
.attachment-img{
    width: 50%;
}
.table-responsive{
    overflow-x:auto;
    width: 100% !important;
}
.transaction-section{
    width: 90%;
    margin: auto;
    padding-left: 0;
}
.filter-select{
    margin-right: 10px;
    font-size: 13px;
}
.search-section{
    margin-bottom: 20px;
    margin-left:0;
}

.modal-title{
    font-size: 15px;
    font-weight: 900;
}

.modal-body [class*="col-"]{
    padding:0;
}

.transaction-info-panel{
    background: #F1F1F1;
    border-radius: 5px;
    padding: 20px !important;
    margin-top: 10px;
    margin-bottom: 20px;
}
.transaction-info-panel b{
    color:#3E3E3E;
}
.transaction-info-panel label{
    padding-left:15px !important;
}
.modal-body  thead{
    font-size: 12px;
    color: #797979;
    border-bottom: 1px solid lightgray;

}
.modal-body th,.modal-body td {
    padding: 0px 10px 5px 10px !important;
}
.modal-body  tbody{
    font-size: 12px;
    color: #ABABAB
}
.modal-body table{
    margin-top: 20px;
}
.action-btn{
        margin-bottom: 5px;
}
.action-modal p{
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 5px;
    color:gray;
}
.transaction-detail-box{
    margin: 2px;
    padding: 10px;
    background: rgba(0,0,0,0.05);
    border-radius: 5px;
    margin-bottom: 20px;
}
.transaction-detail-box .card-row{
    margin-bottom: 25px;
    margin-top: 20px;
}
.transaction-detail-box b{
    font-weight: 900;
    font-size: 12px;
}
.transaction-detail-box label{
    font-weight: 300;
    width: 100%;
    white-space: normal;
    word-break: break-word;
    font-size: 12px;
}
.transaction-detail-box .col-sm-6{
    margin-bottom: 10px;
}
.action-inpage-loader{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: white;
    width: 100%;
    z-index: 100;
    text-align: center;
    min-height: 300px;
    display: none;
}
.action-inpage-loader img{
    margin-top: 150px;
    width: 150px;
}
.email_sent{
    background: #55E597;
    color: white;
    border-radius: 10px;
    padding: 5px 20px;
}
